/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 *  Filename:
 *    Variables (./stylesheets/_variables.scss)
 *
 *  Description:
 *    Holds values **NOT** subject to change (despite individual
 *    use case and/or specific project needs).
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

//----------------------------------------------------------------------------------------------------------------------
// Section            :  TYPOGRAPHY

/* System Fontstack */
$font-family-system-sans-serif       : // Safari for OS X and iOS (San Francisco)
		-apple-system,
			// Chrome < 56 for OS X (San Francisco)
		BlinkMacSystemFont,
			// Windows
		"Segoe UI",
			// Android
		"Roboto",
			// Basic web fallback
		"Helvetica Neue", Arial, sans-serif,
			// Emoji fonts
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
/* Make it the fallback */
$fallback-fontstack                  : $font-family-system-sans-serif;
/* Set Primary Fontstack */
$primary-fontstack                   : $fallback-fontstack !default;
/* Set global fontstack variable to $PRIMARY with $FALLBACK as a fallback default */
$fontstack                           : $primary-fontstack, $fallback-fontstack !default;

//----------------------------------------------------------------------------------------------------------------------
// Section:  BUTTON VARIABLES

$button-type-rounded    : 'rounded';
$button-type-outline    : 'outine';
$button-type-solid      : 'solid';
$button-type-text       : 'text';

$button-style-normal    : 'normal';
$button-style-primary   : 'primary';
$button-style-secondary : 'secondary';

$button-width-fullwidth : 100%;
$button-display-block   : block;
$button-display-inline  : inline-block;

//----------------------------------------------------------------------------------------------------------------------
// Section: DEFAULTS

$button-radius--default-button-style : 3px;
$button-radius--rounded-button-style : 48px;
$button-radius--square-button-style  : 0;

$default-button-min-width            : 144px;
$default-button-height               : 56px;
$default-button-padding              : 0 1em;
$default-button-margin               : 1em 0 1em;
$default-button-line-height          : 2.5;
$default-button-font-weight          : 600;
$default-button-font-size            : 1.125em;
$default-button-letter-spacing       : 0.5px;
$default-button-border-radius        : 3px;
$default-button-display              : $button-display-inline;
$default-button-display-fullwidth    : $button-display-block;
$default-button-stack-breakpoint     : 560px;
$default-button-stack-at-width       : 560px;

$default-button-transition-properties: all;
$default-button-transition-duration  : 100ms;
$default-button-transition-style     : linear;

$default-button-state-adjustment     : 10%;
$default-button-hover-state-change   : 10%;
$default-button-focus-state-change   : 20%;
$default-button-active-state-change  : 30%;

$default-button-type                 : $button-type-solid;
$default-button-style                : $button-style-normal;

//----------------------------------------------------------------------------------------------------------------------
// Section: INTERACTION STATE CHANGE

$interaction-state--normal            : 'normal';
$interaction-state--hover             : 'hover';
$interaction-state--focus             : 'focus';
$interaction-state--active            : 'active';

//----------------------------------------------------------------------------------------------------------------------
// Section: LINK-STYLE / TEXT-ONLY STYLE BUTTON BOOL SETTING

/**
 * NOTE:
 *       this value dictates whether a link element (`<a href="">...</>`)
 *       with a `.button` class (by default) will result in a normally stlyled
 *       button, or automatically create a "text-only"/"link-style" button style.
 *       ...
 *       (The default behaviour is to result in NORMAL button style and only
 *       style as "link-style"/"text-only" when the `.text-only`/`.link` classes
 *       are applied)
**/

$default-AUTOMATICALLY-STYLE-LINKS-AS-TEXT-ONLY__BOOL : false;
